<div class= "container">
   <div class = "red">
      <% if @item.errors.any? %>
        <%= @item.errors.count %>件のエラーが発生しました
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <div class= "row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class = "item-title-name">商品新規登録</h2>
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
        <div class="form-group">
          <label for="item_image">商品画像</label>
          <%= f.file_field :image, accept: "image/*", class:"form-control-file item_image" %>
        </div>
        <div class="form-group">
          <label for="item_name">商品名</label>
          <%= f.text_field :name, class:"form-control name" %>
        </div>
        <div class="form-group">
          <label for="item_description">商品説明</label>
          <%= f.text_area :description, class:"form-control name" %>
        </div>
        <div class="form-group">
          <label for="item_price">税抜価格</label>
          <%= f.number_field :price, class:"form-control name" %>
        </div>
        <div class="is_active">
          <label for="item_introduction">販売ステータス</label>
          <div class = "is_active-radio">
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, '販売中', value: true %>
          </div>
          <div class = "is_active-radio">
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, '販売停止中', value: false %>
          </div>
        </div>
        <div class="item-edit-btn">
          <%= f.submit '新規登録', class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
