<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-sm4 offset-2">
      <h3>商品詳細</h3>
      <%= image_tag @item.get_image(300, 300) %>
    </div>
    <div class = "col-sm8 ml-5 mt-5">
    <table>
      <tbody>
        <tr>
          <th>商品名</th>
          <th><%= @item.name %></th>
        </tr>
        <tr>
          <th>商品説明</th>
          <th><%= @item.description %></th>
        </tr>
        <tr>
          <th>ジャンル</th>
          <th><%= @item.genre.name %></th>
        </tr>
        <tr>
          <th>税抜価格<br>
              (税込価格)
          </th>
          <th><%= @item.price %> (<%= @item.with_tax_price %>) 円</th>
        </tr>
        <tr>
          <th>販売ステータス　</th>
          <th>
            <% if @item.is_active? == true %>
              <span class="text-success">販売中</span>
            <% else %>
              <span class="text-danger">販売停止中</span>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
            <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
          </th>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>