<div class="container">
  <div class="row">
    <div class="col-lg-8-mb-3">
      <h3>ショッピングカート</h3>
    </div>
    <div class="col text-light">
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, data:{confirm: "カートの中身を全て削除してもよろしいですか?"}, class: "btn btn-danger" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <table class="table table-bordered">
          <tr class="table-secondary">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
            <% @cart_items.each do |cart_item| %>
            <% @total = @total+ cart_item.subtotal %>
            <tbody>
              <tr>
                <td class="align-middle" style="width: 30%">
                  <%= image_tag cart_item.item.get_image(30,30) %>
                  <%= cart_item.item.name %>
                </td>
                <td class="align-middle"><%= cart_item.item.with_tax_price %></td>
                <td class="align-middle" style="width: 20%">
                  <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
                    <%= f.number_field :amount, min:1, max:10 %>
                    <%= f.submit "変更" %>
                  <% end %>
                </td>
                <td class="align-middle" style="width: 15%"><%= cart_item.subtotal %></td>
                <td class="align-middle text-center">
                  <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %>
                </td>
              </tr>
            </tbody>
            <% end %>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-10 mt-3">
      <table class="table table-borderless">
        <tr>
          <td><%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %></td>
          <td></td>
          <td></td>
          <td class="table-secondary align-middle">合計金額</td>
          <td class="table-secondary align-middle"><%= @total %>円</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mb-3 text-center ax-auto">
      <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success mt-4" %>
    </div>
  </div>
</div>
