<div class="container">
  <div class="row">
    <div class="col-lg-8-mb-3">
      <h3>ショッピングカート</h3>
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
        <tr>
          <th>商品名</th>
          <th>単価(税込み)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <% if current_member.cart_item.present %>
          <% @cart_items.each do |cart_item| %>
          <% @total = @total+ cart_item.subtotal %>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image(50,50) %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td>
                <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
                  <%= f.number_field :amount, min:1, max:10 %>
                  <%= f.submit "変更" %>
                <% end %>
              </td>
              <td><%= cart_item.subtotal %></td>
              <td>
                <%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        <% end %>
    </table>
  </div>
</div>

<div class="row">
  <table class="table table-bordered">
    <tr>
      <td><%= link_to "買い物を続ける", root_path %></td>
    </tr>
  </table>
</div>