<div class="container">
  <h3>ショッピング一覧</h3>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込み)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if current_member.cart_item.present %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image(50,50) %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td><%= cart_item.item.amount %></td>
              <td><%= cart_item.subtotal %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>