<div class="container">
 <div class="row">
   <div class = "offset-md-5">
    <h3 class="public_registration">新規会員登録</h3>
  </div>
 </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
    <div class="row">
      <div class = "offset-md-1 col-md-10">
        <table class = "table table-borderless">
        
          <tr>
          <td><%= f.label :"名前" %></td>
          <td>
          <%= f.label :"(姓)" %>
          <%= f.text_field :last_name, autofocus: true, placeholder: "令和", style: "width: 30%" %>
          <%= f.label :"(名)" %>
          <%= f.text_field :first_name, placeholder: "道子", style: "width: 30%" %>
          </td>
          </tr>
          
          <tr>
          <td><%= f.label :"フリガナ" %></td>
          <td>
          <%= f.label :"(セイ)" %>
          <%= f.text_field :last_name_kana, placeholder: "レイワ", style: "width: 30%" %>
          <%= f.label :"(メイ)" %>
          <%= f.text_field :first_name_kana, placeholder: "ミチコ", style: "width: 30%" %>
          </td>
          </tr>
          
          <tr>
          <td><%= f.label :"メールアドレス" %></td>
          <td>
          <%= f.email_field :email, placeholder: "sample@example.com", style: "width: 50%" %>
          </td>
          </tr>
          
          <tr>
          <td><%= f.label :"郵便番号（ハイフンなし）" %></td>
          <td>
          <%= f.text_field :post_code, placeholder: "0000000", style: "width: 30%" %>
          </td>
          </tr>
          
          <tr>
          <td><%= f.label :"住所" %></td>
          <td>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町０−０", style: "width: 75%" %>
          </td>
          </tr>
          
          <tr>
          <td><%= f.label :"電話番号（ハイフンなし）" %></td>
          <td>
          <%= f.telephone_field :call_number, placeholder: "00000000000", style: "width: 30%" %>
          </td>
          </tr>
          
          <tr>
          <td><%= f.label :"パスワード（６文字以上）" %></td>
          <td>
          <%= f.password_field :password, autocomplete: "new-password", style: "width: 30%" %>
          </td>
          </tr>
          
          <tr>
          <td><%= f.label :"パスワード（確認用）" %></td>
          <td>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width: 30%" %>
          </td>
          </tr>
          
          <tr>
          <td></td>
          <td>
          <%= f.submit "新規登録", class: "btn btn-success", style: "width: 40%" %>
          </td>
          </tr>
          
        </table>
      </div>
    </div>
<% end %>
  <div class="row">
    <div class = "col-lg-12 mx-auto">
      <h3 class="public_registration">既に登録済みの方</h3>
    </div>
  </div>
  <div class="row">
    <div class = "col-lg-12 mx-auto">
      <%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。
    </div>
  </div>
</div>