<div class="container">
  <div class= "row">
    <div class= "col-sm-12 my-2  text-center ax-auto">
      <h3 class="orders_new">注文情報確認</h3>
    </div>
  </div>
    <div class= "row mt-1"> 
      <div class= "col-sm-6 my-1">
        <table class= "table table-bordered">
          <tr class="table-danger">
          <td style = "width: 40%">商品名</td>
          <td>単価（税込）</td>
          <td>数量</td>
          <td>小計</td>
          </tr>
          <% @cart_items.each do |cart| %>
          <tr>
          <td class = "align-middle">
            <%= image_tag cart.item.get_image(30,30) %>
            <%= cart.item.name %>
          </td>
            <td><%= cart.item.price %></td>
            <td><%= cart.amount %></td>
            <td><%= ((cart.item.price*cart.amount).to_i).to_s(:delimited) %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class= "offset-sm-1 col-sm-5 my-1">
         <table class= "table table-bordered">
            <tr>
            <td class = "table-danger">送料</td>
            <td><%= @order.postage %></td>
            </tr>
            <tr>
            <td class = "table-danger">商品合計</td>
            <% @total = 0 %>
            <% @cart_items.each do |cart| %>
            <% @total += cart.item.price*cart.amount %>
            <% end %>
            <td><%= @total.floor.to_s(:delimited) %></td>
            </tr>
            <tr>
            <td class = "table-danger">請求金額</td>
            <td><%= (@total = @order.postage + @total.floor).to_s(:delimited) %> </td>
            </tr>
         </table>
      </div>
    </div>
    <div class = "row">
     <div class = "col-lg-8">
      <table class = "table table-borderless">
       <tr>
        <th style = "width: 20%">支払い方法</th>
        <td><%= @order.method_payment_i18n %></td>
       </tr>
       <tr>
        <th>お届け先</th>
        <td>
         〒<%= @order.post_code %>
           <%= @order.address %><br>
           <%= @order.name %>
        </td>
       </tr>
      </table>
     </div>
  </div>
</div>
<%= form_with model: @order, local: true do |f| %>
 <div class = "row">
  <div class = "col-lg-10 offset-lg-1 mb-3  text-center ax-auto">
    <%= f.hidden_field :name %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :method_payment %>
    <%= f.hidden_field :post_code %>
    <%= f.hidden_field :postage %>
    <%= f.hidden_field :bill, value: @total %>
    <%= f.submit "注文を確定する", class: "btn btn-success", style: "width: 15%" %>
  </div>
 </div>
<% end %>
</div>