<div class="container">
  <div class="row">
    <div class = "col-lg-5 offset-lg-1 mx-auto">
      <%= image_tag @item.get_image(400, 400) %>
    </div>
    <div class = "col-lg-6 mx-auto ">
      <h2><%= @item.name %></h2> <br>
      <%= @item.description %> <br>
      <div class="aa">¥
        <%= @item.with_tax_price %> (税込)
      </div>
      <% if @item.is_active? == true %>
        <span class="text-success">販売中</span>
      <% else %>
        <span class="text-danger">販売停止中</span>
      <% end %>
      <% if @item.is_active? == true %>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit 'カートにいれる', class:"btn btn-success" %>
          <%= f.hidden_field :item_id, value: @item.id %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>